<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BookpileTBR</title>
  <link rel="shortcut icon" type="image/jpg" href="/poze/favicon.png"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" style="font-weight: bolder; color: #630A10;" href="/">BookpileTBR</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">ACASĂ</a></li>
        <li id="about"><a href="/about">DESPRE NOI</a></li>
        <li id="contact"><a href="/compose">COMPUNE</a></li>
      </ul>
    </div>
  </nav>

  <body>
    <div class="container container-body">
