<%- include("partials/header"); -%>
    <h1 class="about-h1">De la cititor la programator!</h1>
    <br><br>
    <p> <%= aboutContent %> </p>
            <img class="about_photo" src="/css/poza_1.png" alt="Photo">
            <img class="about_photo" src="/css/poza_2.png" alt="Photo">
<%- include("partials/footer"); -%>
