<%- include("partials/header"); -%>
<div class="admin_access">
    <h1>Welcome Admin!</h1>
    <form class="" action="/AdminAccess" method="post">
      <div class="form-group">
        <label>Introduceti parola!</label>
        <input type="password" name="AdminPassword" placeholder="Parola Admin">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Log In</button>
    </form>
  </div>

<%- include("partials/footer"); -%>