
html {
  min-height: 100%;
  position: relative;
}

body{
  width: 100%;
  font-size: 2rem;
  text-align: justify;
  background-color: #FCF0C8;
}
 .container{
   width: 80%;
} 
.container h1{
  font-size: 60px;
}
.container-body{
  padding-bottom: 20px;
}
.navbar {
    padding: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    letter-spacing: 5px;
    background-color: #FACE7F;
}
.navbar-nav a{
  color: #630A10 !important;
  font-weight: bolder;
}
.navbar-nav  li a:hover {
    color: #911F27 !important;
    text-decoration: underline;
}
.swal-wide{
  zoom: 1.5;
}
.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #FACE7F;
}

.footer p {
	margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: bold;
  color: #630A10;
}
.center_home{
  text-align: center;
}
.btn{
  width: auto;
  font-size: 30px;
}
.form-control{
  height: 60px;
  font-size: 30px;
}
#form-id{
  text-align: center;
  padding-bottom: 10px;
}
.iframe{
  width: 100%;
  height: 1200px;
  margin-top: 25px;
}
.about-h1 {
  text-align: center;
}
.admin_access{
  text-align: center;
}
.compose-div{
  padding: 15px;
}
.article_post {
  color: #911F27;
}
.about_photo{
  width: 49.5%;
}