
html {
  min-height: 100%;
  position: relative;
}

body{
  width: 100%;
  font-size: 2rem;
  text-align: justify;
  background-color: #FCF0C8;
}
 .container{
   width: 80%;
} 
.container h1{
  font-size: 60px;
}
.container-body{
  padding-bottom: 20px;
}
.navbar {
    padding: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    letter-spacing: 5px;
    background-color: #FACE7F;
}
.navbar-nav a{
  color: #630A10 !important;
  font-weight: bolder;
}
.navbar-nav  li a:hover {
    color: #911F27 !important;
    text-decoration: underline;
}
.swal-wide{
  zoom: 1.5;
}
.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
  z-index: 1;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #FACE7F;
}

.footer p {
	margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: bold;
  color: #630A10;
}
.center_home{
  text-align: center;
}
.btn{
  width: auto;
  font-size: 30px;
}
.form-control{
  height: 60px;
  font-size: 30px;
}
#form-id{
  text-align: center;
  padding-bottom: 10px;
}
.iframe{
  width: 100%;
  height: 1200px;
  margin-top: 25px;
}
.about-h1 {
  text-align: center;
}
.admin_access{
  text-align: center;
}
.compose-div{
  padding: 15px;
}
.article_post {
  color: #911F27;
}
.about_photo{
  width: 49.5%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}